<%- include("partials/header.ejs") %>

        <form action="/edit/<%= post.id %>" method="POST">
            <div class="post-card mb-4">
                <div class="mb-3">
                    <label class="form-label">Title</label>
                    <input type="text" name="title" class="form-control" value= "<%= post.title %>" required>
                </div>

                <div class="mb-3">
                    <label class="form-label">Description</label>
                    <textarea name="description" class="form-control" rows="4" required><%= post.description %></textarea>
                </div>
                <button class="btn btn-primary" type="submit">Post</button>
            </div>
        </form>

<%- include("partials/footer.ejs") %>